<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RangeConfiguration" type="ViewWindow.RangeConfigurationHandler, ViewWindow"/>
  </configSections>

  <RangeConfiguration>
    <Ranges>
      <Range LowValueX="0" HighValueX="1" LowValueY="0" HighValueY="0"/>
      <Range LowValueX="1" HighValueX="2" LowValueY="0" HighValueY="2.8"/>
      <Range LowValueX="2" HighValueX="3" LowValueY="2.8" HighValueY="3.9"/>
      <Range LowValueX="3" HighValueX="4" LowValueY="3.9" HighValueY="4.2"/>
      <Range LowValueX="4" HighValueX="5" LowValueY="4.2" HighValueY="4.4"/>
      <Range LowValueX="5" HighValueX="6" LowValueY="4.4" HighValueY="4.6"/>
      <Range LowValueX="6" HighValueX="7" LowValueY="4.6" HighValueY="4.7"/>
      <Range LowValueX="7" HighValueX="8" LowValueY="4.7" HighValueY="5.1"/>
      <Range LowValueX="8" HighValueX="9" LowValueY="5.1" HighValueY="5.3"/>
      <Range LowValueX="9" HighValueX="10" LowValueY="5.3" HighValueY="5.5"/>
      <Range LowValueX="10" HighValueX="11" LowValueY="5.5" HighValueY="5.7"/>
      <Range LowValueX="11" HighValueX="12" LowValueY="5.7" HighValueY="5.8"/>
      <Range LowValueX="12" HighValueX="13" LowValueY="5.8" HighValueY="5.9"/>
      <Range LowValueX="13" HighValueX="14" LowValueY="5.9" HighValueY="6"/>
      <Range LowValueX="14" HighValueX="15" LowValueY="6" HighValueY="6.1"/>
      <Range LowValueX="15" HighValueX="15.5" LowValueY="6.1" HighValueY="6.2"/>

    </Ranges>
  </RangeConfiguration>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
