<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RangeConfiguration" type="ViewWindow.RangeConfigurationHandler, ViewWindow"/>
  </configSections>

  <RangeConfiguration>
    <Ranges>
      <Range LowValue="0.01" HighValue="0.1" RangeValue="1.5" />
      <Range LowValue="0.1" HighValue="0.5" RangeValue="3.6" />

    </Ranges>
  </RangeConfiguration>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
