<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RangeConfiguration" type="ViewWindow.RangeConfigurationHandler, ViewWindow"/>
  </configSections>

  <RangeConfiguration>
    <Ranges>
      <Range LowValueX="1.5" HighValueX="2.5" LowValueY="0.01" HighValueY="0.1"/>
      <Range LowValueX="2.5" HighValueX="3.5" LowValueY="0.1" HighValueY="0.4"/>

    </Ranges>
  </RangeConfiguration>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
